{% load static %}
{% load widget_tweaks %}
<!--REQUISITION PREVIEW-->
<div class="modal fade" id="requisitionPreviewModal" tabindex="-1" aria-labelledby="requisitionPreviewModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="max-width: 1250px; margin-top: 130px;" role="document">
      <!-- Content to be converted to PDF -->
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="requisitionPreviewModalLabel">
               <span class="fw-medium" id="requisitionNumber2">Requisition Preview</span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
<!--         <div class="mt-2 me-4">-->
<!--            <button id="print-button" type="button" class="btn btn-sm btn-soft-secondary custom-form-action-button float-end"><i class="fa-solid fa-print me-2"></i>Print </button>-->
<!--            <button id="department-stock" type="button" class="btn btn-sm btn-soft-primary float-end me-2"><i class="fa-solid fa-cubes-stacked me-2"></i>Department Stock </button>-->
<!--            <button id="printButton" type="button" class="btn btn-sm btn-soft-primary float-end custom-form-action-button me-2"><i class="fa-solid fa-right-left me-2"></i>Return Item </button>-->
<!--         </div>-->
         <div class="modal-body">


         </div>
      </div>
   </div>
</div>
<!--END MODAL-->