{% load static %}
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="{% static 'assets/css/core/libs.min.css' %}" />
<!--<link rel="stylesheet" href="{% static 'assets/global/plugins.bundle.css' %}" />-->
<!-- flatpickr css -->
<link rel="stylesheet" href="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.css' %}" />

<link rel="stylesheet" href="{% static 'assets/vendor/sheperd/dist/css/sheperd.css' %}">



<!-- Form Validations -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/%40form-validation/umd/styles/index.min.css' %}">

<!-- Sweetlaert2 css -->
<link rel="stylesheet" href="{% static 'assets/vendor/sweetalert2/dist/sweetalert2.min.css' %}"/>


<!-- Choisejs css -->
<link rel="stylesheet" href="{% static 'assets/vendor/choiceJS/style/choices.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/vendor/leaflet/leaflet.css' %}">



<!-- btn hover css -->
<link rel="stylesheet" href="{% static 'assets/vendor/button-hover/css/hover-min.css' %}"/>

<!-- Quill Editor css -->
<link rel="stylesheet" href="{% static 'assets/vendor/quill/quill.snow.css' %}">

<!-- NoUI Slider css -->
<link rel="stylesheet" href="{% static 'assets/vendor/noUiSilder/style/nouislider.min.css' %}">

<!-- Fullcalender CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/fullcalendar/core/main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/fullcalendar/daygrid/main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/fullcalendar/timegrid/main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/fullcalendar/list/main.css' %}" />

<!-- Uppy Css -->
<link rel="stylesheet" href="{% static 'assets/vendor/uppy/uppy.min.css' %}"/>

<!-- Hope Ui Design System Css -->
<link rel="stylesheet" href="{% static 'assets/css/hope-ui.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/pro.min.css' %}" />

<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'assets/css/custom.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/core/dsk.css' %}" />

<!-- Dark Css -->
<link rel="stylesheet" href="{% static 'assets/css/dark.min.css' %}"/>

<!-- Customizer Css -->
<link rel="stylesheet" href="{% static 'assets/css/customizer.min.css' %}" />

<!-- RTL Css -->
<link rel="stylesheet" href="{% static 'assets/css/rtl.min.css' %}"/>

<!--Data tables using django ajax table-->
<link href="{% static 'assets/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
