{% load static %}
<!-- loader Start -->
<div id="loading">
<div class="loader simple-loader">
    <div class="loader-body">
        <img src="{% static 'assets/images/loader.gif' %}" alt="loader" class="light-loader img-fluid w-40" width="50" height="50">
    </div>
</div>
</div>
<!-- loader END -->
<!-- 
<div id="userPermissionTable_processing" class="dt-processing card" role="status" style="display: block;">
    <div>
        <div>
            
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
    </div>
</div> -->