{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Hospital Staff {% endblock title %}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap mb-4 gap-3">
    <div class="d-flex flex-column">
        <h3>Staff</h3>
        <p class="text-primary mb-0">Administrator Dashboard</p>
    </div>
    <div class="d-flex justify-content-between align-items-center rounded flex-wrap gap-3">
        <div class="form-check form-switch mb-0 iq-status-switch">
            <input class="form-check-input iq-status" type="checkbox" id="iq-switch" checked="">
            <label class="form-check-label iq-reset-status" for="iq-switch">
                Online
            </label>
        </div>
        <div class="form-group mb-0">
            <select class="select2-basic-single form-control" name="state" style="width: 100%;">
                <option >Past 30 Days</option>
                <option >Past 60 Days</option>
                <option >Past 90 Days</option>
                <option >Past 1 year</option>
                <option >Past 2 year</option>
            </select>
        </div>
        <div class="form-group mb-0">
            <input type="text" name="start" class="form-control range_flatpicker flatpickr-input active" placeholder="24 Jan 2022 to 23 Feb 2022" readonly="readonly">
        </div>
        <button type="button" class="btn btn-primary">Analytics</button>
    </div>
</div>

<div class="container-fluid">

        <div class=" mb-5">
            <div class="card-toolbar">
                <button type="button" id="add-role" class="btn btn-sm custom-form-action-button btn-primary me-2" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-target="#addEmployeeModal">Add Staff</button>
            </div>
        </div>
        <div class="row g-4" id="employeeContainer">

        </div>
</div>

{% include 'hr_app/employee/includes/extra_form.html' %}
{% endblock content %}


{% block extrajs %}
<script src="{% static 'assets/js/apps/hr_app/employee/card.js' %}"></script>
<script src="{% static 'assets/js/apps/hr_app/employee/form.js' %}"></script>
<script>
    $(document).ready(function() {
    $.ajax({
        url: '/generate_emp_number/',  // Replace with the actual URL of the GenerateEmpNumberView
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            $('#id_emp_number').val(data.emp_number);
        }
    });
});
</script>


{% endblock extrajs %}