{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Store Requisition {% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap mb-4 gap-3">
    <div class="d-flex flex-column">
        <h3>Manage Store Requisition</h3>
        <p class="text-primary mb-0">Administrator Dashboard</p>
    </div>
    <div class="d-flex justify-content-between align-items-center rounded flex-wrap gap-3">
        <div class="form-check form-switch mb-0 iq-status-switch">
            <input class="form-check-input iq-status" type="checkbox" id="iq-switch" checked="">
            <label class="form-check-label iq-reset-status" for="iq-switch">
                Online
            </label>
        </div>
        <div class="form-group mb-0">
            <select class="select2-basic-single form-control" name="state" style="width: 100%;">
                <option >Past 30 Days</option>
                <option >Past 60 Days</option>
                <option >Past 90 Days</option>
                <option >Past 1 year</option>
                <option >Past 2 year</option>
            </select>
        </div>
        <div class="form-group mb-0">
            <input type="text" name="start" class="form-control range_flatpicker flatpickr-input active" placeholder="24 Jan 2022 to 23 Feb 2022" readonly="readonly">
        </div>
        <button type="button" class="btn btn-primary">Analytics</button>
    </div>
</div>


<div class="container-fluid">

    <div class="mb-5">
        <div class="card-toolbar">
        <a href="{% url 'inventory_app:requisition_order_new' %}" class="btn btn-sm custom-form-action-button btn-info me-2">Go Back</a>
        </div>
    </div>

    <div class="card card-block card-stretch card-height" style="min-height: 330px;">
        <div class="card-body">
          {% include 'inventory_app/item/requisition/includes/forms/manage_store_order.html' %}
        </div>
    </div>

</div>
{% endblock content %}



{% block extrajs %}

<script src="{% static 'assets/js/apps/inventory_app/item/requisition/update-formset.js' %}"></script>
<script src="{% static 'assets/js/apps/inventory_app/item/requisition/manage-store-order.js' %}"></script>

{% endblock extrajs %}