{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Roles {% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap mb-4 gap-3">
    <div class="d-flex flex-column">
        <h3>Roles</h3>
        <p class="text-primary mb-0">Administrator Dashboard</p>
    </div>
    <div class="d-flex justify-content-between align-items-center rounded flex-wrap gap-3">
        <div class="form-check form-switch mb-0 iq-status-switch">
            <input class="form-check-input iq-status" type="checkbox" id="iq-switch" checked="">
            <label class="form-check-label iq-reset-status" for="iq-switch">
                Online
            </label>
        </div>
        <div class="form-group mb-0">
            <select class="select2-basic-single form-control" name="state" style="width: 100%;">
                <option >Past 30 Days</option>
                <option >Past 60 Days</option>
                <option >Past 90 Days</option>
                <option >Past 1 year</option>
                <option >Past 2 year</option>
            </select>
        </div>
        <div class="form-group mb-0">
            <input type="text" name="start" class="form-control range_flatpicker flatpickr-input active" placeholder="24 Jan 2022 to 23 Feb 2022" readonly="readonly">
        </div>
        <button type="button" class="btn btn-primary">Analytics</button>
    </div>
</div>

<div class="container-fluid">
    <div class="card card-block card-stretch card-height">
        <nav class="tab-bottom-bordered">
            <div class="mb-0 nav nav-tabs justify-content-around" id="nav-tab1" role="tablist">
                <button class="nav-link py-3 active" id="role-nav-tab" data-bs-toggle="tab" data-bs-target="#role-nav" type="button" role="tab" aria-controls="role-nav" aria-selected="true">Role</button>
                <button class="nav-link py-3" id="permission-nav-tab" data-bs-toggle="tab" data-bs-target="#permission-nav" type="button" role="tab" aria-controls="permission-nav" aria-selected="false" tabindex="-1">Permission</button>
                <button class="nav-link py-3" id="group-nav-tab" data-bs-toggle="tab" data-bs-target="#group-nav" type="button" role="tab" aria-controls="group-nav" aria-selected="false" tabindex="-1">Group</button>
            </div>
        </nav>
        <div class="tab-content iq-tab-fade-up" id="nav-tabContent">
            <div class="tab-pane fade show active" id="role-nav" role="tabpanel" aria-labelledby="role-nav-tab">
                <div class="card-header">
                    <div class="card-toolbar">
                        <button type="button" id="add-role" class="btn btn-sm custom-form-action-button btn-primary me-2" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-target="#addRoleModal">Add Role</button>
                        <button type="button" class="btn btn-sm btn-info custom-form-action-button me-2">Go Back</button>
                        <button type="button" class="btn btn-sm custom-form-action-button btn-info me-2">Refresh</button>
                    </div>
                </div>

                <div class="card-body card-scroll h-100px">
                    {% include 'auth_app/role/includes/role_card.html' %}
<!--                  {% include 'auth_app/role/includes/pi-table.html' %}-->
                </div>
            </div>
            <div class="tab-pane fade" id="permission-nav" role="tabpanel" aria-labelledby="permission-nav-tab">

                <div class="card-header">
                    <div class="card-toolbar">
                        <a href="{% url 'auth_app:permission'%}" type="button" class="btn btn-sm btn-info custom-form-action-button me-2">Permission Page</a>
                        <button type="button" class="btn btn-sm custom-form-action-button btn-info me-2">Refresh</button>
                    </div>
                </div>

                <div class="card-body card-scroll h-150px">
                  {% include 'auth_app/permission/includes/table.html' %}
                </div>
               
            </div>
            <div class="tab-pane fade" id="group-nav" role="tabpanel" aria-labelledby="group-nav-tab">
                <div class="card-header">
                    <div class="card-toolbar">
                        <a href="{% url 'auth_app:usergroup'%}" type="button" class="btn btn-sm btn-info custom-form-action-button me-2">Group Page</a>
                        <button type="button" class="btn btn-sm custom-form-action-button btn-info me-2">Refresh</button>
                    </div>
                </div>
                <div class="card-body card-scroll h-150px">
                  {% include 'auth_app/group/includes/table.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'auth_app/role/includes/form.html' %}
{% include 'auth_app/role/includes/modal.html' %}
{% endblock content %}



{% block extrajs %}
<!--Role Scripts -->

<script src="{% static 'assets/js/apps/auth_app/role/checkbox_handler.js' %}"></script>
<script src="{% static 'assets/js/apps/auth_app/role/submit_form.js' %}"></script>
<script src="{% static 'assets/js/apps/auth_app/role/table.js' %}"></script>
<script src="{% static 'assets/js/apps/auth_app/group/table_view.js' %}"></script>
<script src="{% static 'assets/js/apps/auth_app/permission/table_view.js' %}"></script>

{% endblock extrajs %}


